<div class="sus">
  <h1>MotoGarajul</h1>
  <img class="Car_gif" src="./../../assets/logo_site.gif"/>
  <button class="button_login">Login</button>
  <button class="button_profil"></button>
  <label>
    <input type="checkbox">
    <span class="menu"><span class="hamburger"></span></span>
    <ul>
      <li><a routerLink="/contact"></a></li>
      <li><button class="Pagini_button" [routerLink]="['/shop']">Shop</button></li>
      <li><button class="Pagini_button" [routerLink]="['/contact']">Contact</button></li>
    </ul>
  </label>
</div>
