<div class="sus">
  <h1>MotoGarajul</h1>
  <img class="Car_gif" src="./../../assets/logo_site.gif"/>
  <button class="button_login">Login</button>
  <button class="button_profil"></button>

<label>
  <input type="checkbox">
  <span class="menu"> <span class="hamburger"></span> </span>
  <ul>
    <li> <a routerLink="/home">Home</a> </li>
    <li> <a routerLink="/shop">Shop</a> </li>
    <li> <a routerLink="/contact">Contact</a> </li>
    <li> <a routerLink="/product-page">Product</a> </li>

  </ul>
  </label>
</div>
