<app-header></app-header>

<h2>Telefon</h2>
    <img class="gif_tel" src="./../../assets/tel_gif.gif" />
    <h3>0720015902</h3>

    <h4>Mail</h4>
    <img class="gif_mail" src="./../../assets/mail_gif.gif" />
    <h5>MotoGarajul&#64;gmail.com</h5>

    <div class="harta" >

    </div>

    <h6>Adresa</h6>
    <img class="loc_img" src="./../../assets/loc-icon.png" />
    <div class="h7">Str Grivitei nr 50 bl 16 scara B Ap 5</div>
    <div class="container">


        <label for="fname">Nume</label>
        <input type="text" id="fname" name="firstname" placeholder="Numele">

        <label for="lname">Prenume</label>
        <input type="text" id="lname" name="lastname" placeholder="Prenumele">
        <label for="subject">Mesaj</label>
        <textarea id="subject" name="subject" placeholder="Mesajul dumneavoastra este foarte important pentru noi" style="height:200px"></textarea>

        <input type="submit" value="Trimiteti">

      
    </div>



