<!-- product-page.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card">
        <img class="card-img-top" src="..." alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Product description goes here.</p>
          <a [routerLink]="['/product', product.id]" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
