<app-header></app-header>
<section>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-a">
          <h1>Schibare<br>Filtru Aer</h1>
          <span class="price">400Lei</span>
          <div class="card-back">
            <a href="#">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-b">
          <h1>Verificare<br>Generala</h1>
          <span class="price">200lei</span>
          <div class="card-back">
            <a href="#">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-c">
          <h1>Centrare<br>Roti</h1>
          <span class="price">100Lei</span>
          <div class="card-back">
            <a href="#">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
