

h2{
  font-size: large;
      width: 42px;
      height: 36px;
      color: green;
      top: 140px;
      left: 20px;
      position: relative;
  }
  h3{
    font-size: large;
        width: 230px;
        height: 10%;
        color: green;
        top: 120px;
        left: 20px;
        position: relative;
    }
    h4{
      font-size:medium;
      width: 350px;
      height: 10%;
      color: black;
      top: 120px;
      left: 20px;
      position: relative;
    }

    .repair_car{
      font-size:medium;
      width: 520px;
      height: 10%;
      color: black;
      top: -140px;
      left: 400px;
      position: relative;

    }
